# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Environments
.env
.venv
env/
venv/
ENV/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
[Dd]esktop.ini
.DS_Store

# Temporary files / logs
*.log
*.tmp
